<div ng-include="'views/header.html'"></div>
<div class="title1">
	<div class="nav-position">当前位置：<a href="/blog/index.html">首页</a><a href="/route/column/note.html"> 学无止境</a></div>
	<i class="w100"></i>
</div>

<div class="text-center" ng-controller="homeController">
	
	<div>0_0</div>
	<div>{{$scope.formData}}</div>
	<div>{{formData}}</div>
	<div>...</div>
	<div ng-repeat="item in items">
		<div>标题</div>
		<div>简介：vvvvvvvvvvvvvv</div>
	</div>
</div>

<!-- 分页组件 -->
<ul class="pagination">
  <li><a href="#pagination">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li class="disabled"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#pagination">&raquo;</a></li>
</ul>